.card {
  display: flex;
  flex-direction: column;
  width: 364px;
  height: 322px;
  justify-content: center;
  align-items: center;
  padding: 24px;
  background-color: white;
  min-height: 200px;
  transition: background-color 1s, border-color 1s;
  position: relative;

  &:hover {
    background-color: #07c06a;

    :global(.button) {
      background-color: #07c06a;
      border: 1px solid white;
    }
  }

  .subCard {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
}

.borderCard {
  display: flex;
  flex-direction: column;
  width: 364px;
  height: 322px;
  align-items: center;
  padding: 24px;
  background-color: white;
  min-height: 200px;
  transition: background-color 1s, border-color 1s;
  justify-content: start;
  padding-top: 40px;
  position: relative;

  &:hover {
    border: 15px solid #07c06a;

    :global(.button) {
      background-color: #07c06a;
    }
  }

  .subCard {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }
}

.verticalCard {
  grid-row: span 2;
  height: 100%;
}

.cursorIcon {
  display: block;
  position: absolute;
  left: 190px;
  top: 250px;
  transform: none;
}

.text {
  color: black;
}

.variantPosition {
  justify-content: start;
  padding-top: 40px;
}
