@import './fluid-size.module';

.container {
  max-width: 1680px;
  min-width: 768px;
  margin: 0 auto;
  padding: 50px;

  .iconDiv {
    display: flex;
    justify-content: right;
    width: 100%;
    margin-bottom: 24px;
  }

  h1 {
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: fluid-size(27, 60);
    line-height: 66px;
  }

  hr {
    margin: 20px 0 50px 0;
    opacity: 15%;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: fluid-size(11, 24);

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
}
