@import './fluid-size.module';

.card {
  display: flex;
  flex-direction: column;
  width: fluid-size(166, 364);
  height: fluid-size(147, 322);
  align-items: center;
  padding: 24px;
  background-color: white;
  border: 0px solid #07c06a;
  transition: all 1s ease;
  position: relative;

  button {
    transition: all 1s ease;
  }
}

.defaultCard {
  @extend .card;
  justify-content: center;

  &:hover {
    background-color: #07c06a;

    button {
      background-color: #07c06a;
      border: 1px solid white;
      color: white;
    }
  }
}

.borderCard {
  @extend .card;
  justify-content: start;
  padding-top: 40px;

  &:hover {
    border: 15px solid #07c06a;

    button {
      background-color: #07c06a;
      border: 1px solid white;
      color: white;
    }
  }
}

.verticalCard {
  grid-row: span 2;
  height: 100%;
}
